/bin/
/project/project/
/project/target/



/logs/
/.metadata/
/.settings/
/.cache-main
/.cache-tests
/.classpath
*.DS_Store
/.project


*.log
*.pyc
*log.*
.cache-main
.cache-tests
.classpath
.project
.settings/
bin/


.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
target/
*.egg-info/
.installed.cfg
*.egg
.idea/
*.crc
/backup/*
